{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
	<form action="/buy" method="post">

		{% if symbol != None %}
		<div class="mb-3">
			<input autocomplete="off" class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="{{ symbol }}" type="text" value="{{ symbol }}">
		</div>
		<div class="mb-3">
			<input autocomplete="off" class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="text" autofocus>
		</div>

		{% else %}
		<div class="mb-3">
			<input autocomplete="off" class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text" autofocus>
		</div>
		<div class="mb-3">
			<input autocomplete="off" class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="text">
		</div>

		{% endif %}

		<button class="btn btn-primary" type="submit">Buy</button>
	</form>

{% endblock %}
