{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
	<table class="table table-sm">
		<thead>
			<tr>
				<th scope="col">Stock Symbol</th>
				<th scope="col">Stock Name</th>
				<th scope="col">Shares</th>
				<th scope="col">Current Stockprice</th>
				<th scope="col">Total Stock Value</th>
				<th scope="col">Buy or Sell</th>
			</tr>
		</thead>
		<tbody>
		{% for transaction in transactions %}
			{% if transaction.shares > 0 %}
				<tr scope="row">
					<td>{{ transaction["symbol"] }}</td>
					<td>{{ transaction["name"] }}</td>
					<td>{{ transaction["shares"] }}</td>
					<td>{{ transaction["price"] | usd }}</td>
					<td>{{ transaction["stock_total"] | usd }}</td>
					<td><form action="/" method="post" name="buy"><input type="text" name="symbol" value="{{ transaction.symbol }}" hidden><input id="buy" type="submit" name="type" value="Buy"></form> <form action="/" method="post" name="sell"><input type="text" name="symbol" value="{{ transaction.symbol }}" hidden><input id="buy" type="submit" name="type" value="Sell"></form></td>
				</tr>
			{% endif %}
		{% endfor %}
		</tbody>
	</table>


	<table class="table table-sm">
		<thead>
			<tr>
				<th scope="col">Current Balance</th>
				<th scope="col">Total Value of all Stocks</th>
			</tr>
		</thead>
		<tbody>
			<tr scope="row">
				<td>{{ cash | usd }}</td>
				<td>{{ total | usd }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
