{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
	<table class="table table-sm">
		<thead>
			<tr>
				<th scope="col">Stock Symbol</th>
				<th scope="col">Stock Name</th>
				<th scope="col">Shares</th>
				<th scope="col">Current Stockprice</th>
				<th scope="col">Total Stock Value</th>
			</tr>
		</thead>
		<tbody>
		{% for transaction in transactions %}
			<tr scope="row">
				<td>{{ transaction["symbol"] }}</td>
				<td>{{ transaction["name"] }}</td>
				<td>{{ transaction["shares"] }}</td>
				<td>{{ transaction["price"] | usd }}</td>
				<td>{{ transaction["stock_total"] | usd }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>


	<table class="table table-sm">
		<thead>
			<tr>
				<th scope="col">Current Balance</th>
				<th scope="col">Total Value of all Stocks</th>
			</tr>
		</thead>
		<tbody>
			<tr scope="row">
				<td>{{ cash | usd }}</td>
				<td>{{ total | usd }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
