<div class="callout callout--primary">
    <div class="grid grid--cols-2">
        <div class="callout__content">
            <h2 class="callout__header">Ready to get started?</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                magnam voluptatem, facere beatae nulla eum impedit doloremque
                quod accusamus quo!
            </p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretch">Get started</a>
    </div>
</div>
