<div style="width: 40%; padding: 2rem">
    <div class="plan">
        <div class="card card--primary">
            <header class="card__header plan__header">
                <div class="plan__profile">
                    <img
                        class="plan__profile-pic"
                        src="project files/79747.png"
                        alt=""
                    />
                    <div class="plan__profile-info">
                        <h3 class="plan__name">Thomas de Jong</h3>
                        <span class="badge badge--secondary">CEO</span>
                        <span class="badge badge--accent">CS50</span>
                    </div>
                </div>
                <p class="plan__quote">"He's no thief of his own wallet"</p>
            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item">Item 1</li>
                    <li class="list__item">Item 2</li>
                    <li class="list__item">Item 3</li>
                </ul>
            </div>
        </div>
    </div>
</div>
